/*
 * Sidebar
 */
.Lists.module h3 a {
  color: inherit;
}

.list-of-lists {
  margin: 10px -15px;
  /* li are 33px each, 33*10 = 330 */
  max-height: 331px;
  overflow-y: auto;
}

.list-of-lists li {
  border-top: 1px solid #e1e8ed;
}

.list-of-lists li:last-child {
  border-bottom: 1px solid #e1e8ed;
}

.list-of-lists li a {
  display: block;
  padding: 8px 12px;
  color: #66757f;
  font-size: 14px;
  font-weight: normal;
  white-space: normal;
  word-wrap: break-word;
}

.list-of-lists li a:hover,
.list-membership-container li:hover {
  color: #0084b4;
  background-color: #f5f8fa;
  text-decoration: none;
}

.list-of-lists .Icon--protected {
  float: right;
  margin-left: 3px;
}

.list-membership-container {
  margin-bottom: 5px;
}

/* ul required to supersede specificity */
ul.list-membership-container li {
  padding: 8px 12px;
  border: 1px solid #e1e8ed;
  border-bottom: 0;
  font-size: 14px;
}

.list-membership-container li:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.list-membership-container li:last-child {
  border-bottom: 1px solid #e1e8ed;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}


/*
 * Profile hovercard
 */

.ProfileCardLists .list-membership-container {
  margin-bottom: 0;
  /* li are 37px each, 37*4 = 148 */
  max-height: 148px;
  overflow-y: auto;
}

.ProfileCardLists .list-membership-container li {
  border-left: 0;
  border-right: 0;
}

.ProfileCardLists .list-membership-container li:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.ProfileCardLists .list-membership-container li:last-child {
  border-bottom: 0;
}


/*
 * Manage lists - /:user/lists & /:user/memberships
 */

.Grid-cell[data-item-type="list"] {
  background: #fff;
  border-top: 1px solid #e1e8ed;
  border-left: 1px solid #e1e8ed;
  border-right: 1px solid #e1e8ed;
  margin-bottom: 0 !important;
}

.GridTimeline-items .Grid:first-child .Grid-cell[data-item-type="list"],
.Grid-cell[data-item-type="list"] > .ProfileListItem {
  border-top: none;
}

.GridTimeline-items .Grid:last-child .Grid-cell[data-item-type="list"] {
  border-bottom: 1px solid #e1e8ed;
  border-radius: 0 0 5px 5px;
}

.ProfileHeading .ProfileHeading-content--noFill {
  /* misleading: this ruleset undoes --noFill */
  background-color: #fff;
  border: 1px solid #e1e8ed;
  margin-bottom: -1px;

}
