/*
 * Sidebar
 */

.list-of-lists {
  margin: 10px -15px;
}

.list-of-lists li {
  border-top: 1px solid #e1e8ed;
}

.list-of-lists li:last-child {
  border-bottom: 1px solid #e1e8ed;
}

.list-of-lists li a {
  display: block;
  padding: 8px 12px;
  color: #66757f;
  font-size: 14px;
  font-weight: normal;
}

.list-of-lists li a:hover,
.list-membership-container li:hover {
  color: #0084b4;
  background-color: #f5f8fa;
  text-decoration: none;
}

.list-membership-container {
  margin-bottom: 5px;
}

/* ul required to supersede specificity */
ul.list-membership-container li {
  padding: 8px 12px;
  border: 1px solid #e1e8ed;
  border-bottom: 0;
  font-size: 14px;
}

.list-membership-container li:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.list-membership-container li:last-child {
  border-bottom: 1px solid #e1e8ed;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}


/*
 * Profile hovercard
 */

.ProfileCardLists .list-membership-container {
  margin-bottom: 0;
  /* li are 37px each, 37*4 = 148 */
  max-height: 148px;
  overflow-y: auto;
}

.ProfileCardLists .list-membership-container li {
  border-left: 0;
  border-right: 0;
}

.ProfileCardLists .list-membership-container li:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.ProfileCardLists .list-membership-container li:last-child {
  border-bottom: 0;
}


/*
 * Manage lists - /user/lists & /user/memberships
 */

.Grid-cell[data-test-selector="ProfileTimelineList"] {
  background: #fff;
  border-left: 1px solid #e1e8ed;
  border-right: 1px solid #e1e8ed;
  background-clip: padding-box;
  margin-bottom: 0 !important;
}

.Grid-cell .ProfileListItem {
  margin: 0;
  padding: 10px 15px;
}

.drag-ready .ProfileListItem {
  cursor: grab;
  cursor: -webkit-grab;
}

/* below from dragula; don't want to setup a css build task yet... */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
